body{
    margin: 0;
}

.container {
    width: 60rem;
    margin: 0 auto;
}

.header{
    height: auto;
    width: 100%;
    background-image: url("../img/smoke.png");
    background-size: cover;
    &__title{
        padding-top: 15rem;
        padding-bottom: 3.75rem;
        text-align: center;
        font-family: 'Exo', sans-serif;
        font-size: 3.75rem;
        color: rgba(41, 41, 41, 1);
    }
    &__button{
        margin-top: 1.375rem;
        margin-bottom: 14.375rem;   
        width: 11.875rem;
        height: 3.125rem;
        margin: auto;
        border-radius: 0.3125rem;
        background-color: rgba(217, 115, 115, 1);
        text-align: center;
        font-size: 1rem;
        font-family: 'Exo', sans-serif;
        color: white;
        line-height: 3.125rem;
        text-decoration: none;
        display: block;
        &:hover{
            background-color: rgba(248, 32, 32, 1);
            transition: .3s;
        }
    }
    &__mark{
        text-align: center;
        padding-top: 1rem;
        font-family: 'Exo', sans-serif;
        font-size: 0.875rem;
    }
}

.button{
    margin: auto;
    padding-bottom: 2.5rem;
    display: block;
    opacity: .50;
    transition: .3s;
    &:hover{
        opacity: 1;
        width: 7%;
    }
}

.new-design{ 
    background-image: url("../img/rectangle.png");
    background-position: left 60rem top 12.1875rem;
    background-size: cover;
    background-color: rgba(237, 237, 237, 1); 
    background-repeat:no-repeat;
    &__content{
        padding-left: 9.375rem;
        padding-right: 9.375rem;
        text-align: left;
        width: 60%;
        height: 100%;
        background-color: rgba(255, 255, 255, 1);
    }
}     
.content {
    &__text1{
        padding-bottom:2.5rem;
        font-family: 'Exo', sans-serif;
        color: rgba(145, 145, 145, 1);
        font-size: 1rem;
    }
    &__text2{
        padding-bottom:10.625rem;
        font-family: 'Exo', sans-serif;
        color: rgba(145, 145, 145, 1);
        font-size: 1rem;
    }
    &__small-title{
        padding-top:12rem;
        font-family: 'Exo', sans-serif;
        font-size: 1rem;
        color: rgba(217, 115, 115, 1);
    }
    &__title{
        padding-bottom:3.75rem;
        font-family: 'Exo', sans-serif;
        font-size: 2.5rem;
        color: rgba(41, 41, 41, 1);
    }
}   

.features{
    background: url("../img/pen-holder.png"),
                url("../img/earphones.png"),
                url("../img/coffee-cup.png");
    background-position: 0px 0px, top 0px right, bottom -30% right 0%;
    background-repeat: no-repeat;
    background-color: rgba(237, 237, 237, 1);        
    &__small-title{
        padding-top: 8.75rem;
        font-family: 'Exo', sans-serif;
        font-size: 1rem;
        color: rgba(217, 115, 115, 1);
        text-align: center;
        }
    &__title{
        padding-bottom:3.75rem;
        text-align: center;
        font-family: 'Exo', sans-serif;
        font-size: 1.375rem;
        font-weight: bold;
    }
    &__blocks{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}
.block{
    &__pic{
        text-align: center;
    }
    &__title{
        padding-top: 2.25rem;
        padding-bottom:1.5rem;
        text-align: center;
        font-family: 'Exo', sans-serif;
        font-size: 1.375rem;
        font-weight: bold;
    }
    &__text{
        padding-bottom:11.875rem;
        text-align: center;
        font-family: 'Exo', sans-serif;
        font-size: 1rem;
    }
}

.responsive{
    background-image: url("../img/macbook.png"), url("../img/rectangle.png");
    background-position: 6.25rem, bottom -43rem right 50rem;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 1);
    background-size: 31.25rem, 100%;
    &__content{
        padding-left: 46.25rem;
        width: 40%;
    }
    &__small-title{
        padding-top: 6.25rem;
        font-family: 'Exo', sans-serif;
        font-size: 1rem;
        color: rgba(217, 115, 115, 1);
        text-align: left;
    }
    &__title{
        padding-bottom:3.75rem;
        font-family: 'Exo', sans-serif;
        font-size: 2.5rem;
        color: rgba(41, 41, 41, 1);
        text-align: left;
    }
    &__text{
        padding-bottom:9.375rem;
        font-family: 'Exo', sans-serif;
        color: rgba(145, 145, 145, 1);
        font-size: 1rem;
        text-align: left;
    }
}
.persons{
    background-image: url("../img/mosaic.png");
    &__market{
        display: flex;
        justify-content: space-around;
        color: rgba(174, 174, 178, 1);
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
        transition:.3s;
        opacity: 1;
    }
        &__blocks{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
} 

.person{
    text-align: center;
    padding-top: 7.1875rem;
    &__pic{
        width: 5rem;
        height: 5rem;
        color: rgba(72, 72, 101, 1); 
        margin: auto;
        display: block;
    }
    &__name{
        color: rgba(174, 174, 178, 1);
        font-family: 'Exo', sans-serif;
        font-size: 1.8rem;
    }
    &__pro{
        color: rgba(217, 115, 115, 1);
        font-family: 'Exo', sans-serif;
        font-size: 1rem;
        padding-bottom: 2.5rem;
    }
    &__text{
        color: rgba(174, 174, 178, 1);
        font-family: 'Exo', sans-serif;
        font-size: 1rem;
    }
    
}

.market__logo:hover.market__logo{
    opacity: .50;
}
.window{
    &__small-title{
        padding-top: 8.75rem;
        font-family: 'Exo', sans-serif;
        font-size: 1rem;
        color: rgba(217, 115, 115, 1);
        text-align: center;
    }
    &__title{
        padding-bottom:3.75rem;
        text-align: center;
        font-family: 'Exo', sans-serif;
        font-size: 1.375rem;
        font-weight: bold;
        color: rgba(41, 41, 41, 1);
    }
    &__text{
        width: 41.875rem;
        margin: 0 auto;
        color: rgba(174, 174, 178, 1);
        font-family: 'Exo', sans-serif;
        font-size: 1rem;
        text-align: center;
        padding-bottom: 6.25rem;
    }
    &__pic{
        padding-left: 4.375rem;
    }
}

.login{
    background-color: rgba(31, 39, 97, 1);
    &__small-title{
        padding-top: 8.75rem;
        font-family: 'Exo', sans-serif;
        font-size: 1rem;
        color: rgba(217, 115, 115, 1);
        text-align: center;
    }
    &__title{
        padding-bottom:3.75rem;
        text-align: center;
        font-family: 'Exo', sans-serif;
        font-size: 1.375rem;
        color: rgba(237, 237, 237, 1);
    }
    &__trial{
        font-family: 'Exo', sans-serif;
        font-size: 0.875rem;
        color: rgba(174, 174, 178, 1);
        text-align: right;
        padding-right: 1.875rem;
    }
    &__blocks{ 
        display:flex;
        justify-content: space-around;
    }
    &__mark{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 5.5rem;
    font-family: 'Exo', sans-serif;
    font-size: 0.875rem;
    color: hsl(240,2%,69%);
    }
    &__button{
    margin-top: 1.375rem;
    margin-bottom: 14.375rem;   
    width: 11.875rem;
    height: 3.5rem;
    margin: auto;
    border-radius: 0.3125rem;
    background-color: rgba(217, 115, 115, 1);
    text-align: center;
    font-size: 1rem;
    font-family: 'Exo', sans-serif;
    color: white;
    line-height: 3.5rem;
    text-decoration: none;
        &:hover{
        background-color: rgba(248, 32, 32, 1);
        transition: .3s;
        }
    }    
}

.placeholder{
    width: 11.875rem;
    height: 3.125rem;
    border-radius: 0.3125rem;
    background-color: rgba(50, 58, 119, 1);
    color: rgba(237, 237, 237, 1); 
    margin: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
}

.footer{
    background-image: url("../img/rectangle.png");
    background-position: bottom -17rem right -65rem;
    background-color: rgba(255, 255, 255, 1);
    background-size: cover;
    background-repeat: no-repeat;
    &__blocks{
        display: flex;
        justify-content: space-between;
        padding-top: 6rem;
    }
    &__startex{
        width: 35%;
        text-align: left;
    }
    &__content{
        width: 11%;
        text-align: left;
    }
    &__newsletter{
        width: 35%;
        text-align: left
    }
    &__title{
        font-family: 'Exo', sans-serif;
        font-size: 1.375rem;
        color: rgba(41, 41, 41, 1);
        line-height: 2rem;
    }
    &__text{
        font-family: 'Exo', sans-serif;
        font-size: 0.875rem;
        color: rgba(174, 174, 178, 1);
        line-height: 2rem;
        text-decoration: none;
        padding-right: 0.5rem;
        &:hover.footer__text{
            color: rgba(248, 32, 32, 1);
            transition: .3s;
        }  
    }
    &__svg{
    width: 1.5rem;
    fill: rgba(174, 174, 178, 1);
    padding: 1rem;
        &:hover.footer__svg{
            width: 2rem;
            fill: rgba(248, 32, 32, 1);
            transition: .3s;
        }  
    }
}     
       
.newsletter{        
    &__loginka{
        display: flex;
        justify-content: center;
    }
    &__placeholder{
        width: 13.25rem;
        height: 2.8125rem;
        border-radius: 0.3125rem;
        background-color: rgba(237, 237, 237, 1);
        font-size: 1.5rem;
        text-align: center;
    }
    &__button{
        background-color: rgba(217, 115, 115, 1);
        width: 3rem;
        fill: rgba(237, 237, 237, 1);
        &:hover{
            background-color: rgba(248, 32, 32, 1);
            transition: .3s;
        }
    }    
    &__web{
    display: flex;
    justify-content: center;
    }
}    

.startex__text{
    font-family: 'Exo', sans-serif;
    font-size: 0.875rem;
    color: rgba(174, 174, 178, 1);
}



@media screen and (max-width: 620px) {

.container{
    width: 90%;
}
.responsive{
    background-image: url("../img/macbook.png");
    background-position: bottom;     
    &__content{
        margin:0;
        padding-left: 5rem;
        padding-top: 1rem;
        width: 20rem;
    }
}

.persons{
    &__market{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: rgba(174, 174, 178, 1);
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
        transition:.3s;
        opacity: 1;
    }
        &__blocks{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
    }
}

.market__logo{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    max-width: 100rem;
    justify-content: center;
    align-items: center;
    padding-bottom:2rem;
}

.window{
    background-image: url("../img/window.png");
        background-repeat:no-repeat;
        background-position:center;
        background-size:100%;
        &__text{
        width: 15rem;
        margin: 0 auto;
    }
        &__pic{
        display: none;
    } 
} 

.login{
    &__blocks{ 
        margin: auto;
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 10rem;
    }
    &__trial{
        text-align: center;
    }
    &__button{
    width: 6rem;
    border-radius: 100%;      
    }
}    
.footer{
    &__blocks{
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding-top: 2rem;
        flex-wrap: wrap;
    }
    &__startex{
        width: 100%;
        text-align: center;
    }
    &__content{
        width: 100%;
        text-align: center;
    }
    &__newsletter{
        width: 100%;
        text-align: center;
    }
}     
}












@media screen and (min-width: 621px) and (max-width: 1000px) {

.container{
    width: 100%;
}

.responsive{
    background-image: url("../img/macbook.png");
    background-position: right;     
    &__content{
        margin:0;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 1rem;
        width: 15rem;
    }
}

.persons{
    &__market{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
        &__blocks{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.window{
    background-image: url("../img/window.png");
    background-position: center;
    background-repeat:no-repeat;     
    background-size:80%;
    &__text{
        width: 30rem;
        margin: 0 auto;
    }
    &__pic{
        display: none;
    }
} 

.login{
    &__blocks{ 
        margin: auto;
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 10rem;
    }
    &__trial{
        text-align: center;
    }
    &__button{
    width: 6rem;
    border-radius: 100%;      
    }              
}
.footer{
    &__blocks{
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding-top: 2rem;
        flex-wrap: wrap;
    }
    &__startex{
        width: 75%;
        text-align: center;
    }
    &__content{
        width: 50%;
        text-align: center;
    }
    &__newsletter{
        width: 100%;
        text-align: center;
    }
}     
}