doctype html
html
  head
    meta(charset='UTF-8')
    title дипломчик
    meta(name='viewport', content='width=device-width; initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(href='https://fonts.googleapis.com/css?family=Exo', rel='stylesheet')
  style.
    .dotes{color:hsl(0,57%,65%);}
  body
    .header
      .container
        .header__title
          | There is no other platforms
          br
          | for you as like
        a(href='https://www.youtube.com ')
          img.button(src='img/playbutton.png')
        a.header__button(href='# ') TRY NOW
        .header__mark * No need to add cards details
    .new-design
      .new-design__content
        .content__small-title NEW DESIGN
        .content__title
          | There is no other platforms
          br
          | for you as like
          span.dotes ....
        .content__text1
          | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper.
        .content__text2
          | Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
    .features
      .container
        .features__small-title NEW FEATURES
        .features__title Some awesome features
        .features__blocks
          .blocks__block
            .block__pic
              img(src='img/pic1.png')
            .block__title Some awesome features
            .block__text
              | Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
          .blocks__block
            .block__pic
              img(src='img/pic2.png')
            .block__title Some awesome features
            .block__text
              | Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
          .blocks__block
            .block__pic
              img(src='img/pic3.png')
            .block__title Some awesome features
            .block__text
              | Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
    .responsive
      .responsive__content
        .responsive__small-title NEW DESIGN
        .responsive__title
          | Responsive design just need your tap
          span.dotes ....
        .responsive__text
          | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn. Vestibulum felis euismod semper.
    .persons
      .container
        .persons__blocks
          .person
            .person__pic
            .person__name John Doe
            .person__pro Co-Founder
            .person__text
              | “Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id gravida at eget metus. Etiasem malesuada magn”
          .person
            .person__pic
            .person__name John Doe
            .person__pro Co-Founder
            .person__text
              | “Pellentesque ornare sem lacinia quam. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn”
          .person
            .person__pic
            .person__name John Doe
            .person__pro Co-Founder
            .person__text
              | “Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id gravida at eget metus. Etiasem malesuada magn”
        .persons__market
          .market__logo
            img(src='img/logo1.png')
          .market__logo
            img(src='img/logo2.png')
          .market__logo
            img(src='img/logo3.png')
          .market__logo
            img(src='img/logo4.png')
          .market__logo
            img(src='img/logo5.png')
    .window
      .container
        .window__small-title NEW FEATURES
        .window__title Some awesome features
        .window__text
          | nean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn. Vestibulum felis euismod semper.
        .window__pic
          img(src='img/window.png')
    .login
      .container
        .login__small-title NEW FEATURES
        .login__title Over 1000 designer are using...
        .login__trial
          | 30 days free trial for all.
          br
          | ⤸
        .login__blocks
          div
            input.placeholder(type='text', placeholder='FULL NAME', maxLength='15')
          div
            input.placeholder(type='text', placeholder='EMAIL', maxLength='15')
          div
            input.placeholder(type='text', placeholder='PASSWORD', maxLength='15')
          a.login__button(href='# ',type='submit') TRY NOW
        .login__mark By Signing up you agree to our terms & Services.
    .footer
      .container
        .footer__blocks
          .footer__startex
            img(src='img/startex.png')
            .startex__text
              | enean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
              | USA &  CAN: 1-888-123-4567
              | Address: 34 Brokel Rd. NY
          .footer__content
            .footer__title Support
            a.footer__text(href='# ') Help Center&nbsp&nbsp   
            a.footer__text(href='# ') Get Started&nbsp&nbsp 
            a.footer__text(href='# ') Contact US
          .footer__content
            .footer__title About Us
            a.footer__text(href='# ') About Us&nbsp&nbsp 
            a.footer__text(href='# ') Terms of Use&nbsp&nbsp 
            a.footer__text(href='# ') Privacy Policy
          .footer__newsletter
            .footer__title &nbsp&nbsp&nbsp&nbsp Get Newsletter
            .newsletter__loginka
              input.newsletter__placeholder(type='text', placeholder='EMAIL', maxLength='15')
              .newsletter__button
                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 486.736 486.736', style='enable-background:new 0 0 486.736 486.736;', xml:space='preserve', type='submit')
                  g
                    path(d='M481.883,61.238l-474.3,171.4c-8.8,3.2-10.3,15-2.6,20.2l70.9,48.4l321.8-169.7l-272.4,203.4v82.4c0,5.6,6.3,9,11,5.9\
                    l60-39.8l59.1,40.3c5.4,3.7,12.8,2.1,16.3-3.5l214.5-353.7C487.983,63.638,485.083,60.038,481.883,61.238z')
            .newsletter__web
              .footer__svg
                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 488.839 488.839', style='enable-background:new 0 0 488.839 488.839;', xml:space='preserve')
                  g
                    g#_x31_4_26_
                      g
                        path(d='M264.32,39.487c5.529-7.328,4.64-22.871,3.853-36.582c-0.03-0.591-0.063-1.169-0.096-1.756\
                        C260.327,0.409,252.482,0,244.542,0c-30.425,0-59.537,5.605-86.406,15.766c19.167,9.211,48.836,25.065,81.814,48.49\
                        C251.202,54.573,259.688,45.634,264.32,39.487z')
                        path(d='M388.163,178.955c-12.047,1.361-22.207,3.338-30.896,6.111c41.537,72.522,57.732,164.145,61.695,230.522\
                        c41.15-41.928,67.283-98.609,69.754-161.393C460.362,219.343,422.8,175.026,388.163,178.955z')
                        path(d='M141.232,116.356c29.185-6.073,56.604-20.762,78.466-36.267c-45.608-31.412-83.648-47.714-91.215-50.817\
                        C81.166,54.851,43.302,95.606,21.274,144.987c28.632-11.408,59.641-17.212,90.098-22.867\
                        C121.225,120.29,131.41,118.399,141.232,116.356z')
                        path(d='M310.171,123.463c2.605,2.618,5.203,5.281,7.783,7.994c9.521,9.995,18.16,20.927,26.082,32.493\
                        c11.537-4.356,25.119-7.445,41.377-9.283c38.307-4.333,72.369,26.012,101.604,59.42c-6.268-50.645-27.989-96.482-60.354-132.631\
                        c-17.666,2.129-37.361,5.736-57.435,11.726C356.06,97.115,335.089,107.801,310.171,123.463z')
                        path(d='M278.011,249.688c10.025-33.955,21.637-58.432,44.135-74.32c-6.752-9.693-14.018-18.79-21.889-27.054\
                        c-3.641-3.824-7.323-7.517-11.021-11.145c-90.263,61.439-213.906,174.3-225.149,272.086\
                        c37.53,41.062,88.892,69.222,146.712,77.211c21.053-41.915,40.868-127.124,52.646-177.801\
                        C269.104,284.324,273.988,263.307,278.011,249.688z')
                        path(d='M175.668,195.843c31.472-29.001,64.708-55.007,95.107-75.908c-10.133-8.965-20.297-17.229-30.275-24.808\
                        c-25.249,18.98-58.307,37.674-94.291,45.158c-10.077,2.097-20.396,4.014-30.372,5.866\
                        c-38.438,7.138-75.336,14.051-106.366,31.364c-6.043,21.271-9.348,43.697-9.348,66.905c0,51.917,16.238,100.02,43.839,139.604\
                        C61.843,313.227,123.175,244.214,175.668,195.843z')
                        path(d='M291.829,105.975c29.078-18.538,54.147-31.356,70.412-36.211c14.606-4.362,28.934-7.539,42.502-9.856\
                        c-31.353-27.245-69.678-46.663-111.986-55.127c0.938,17.07,1.347,35.811-8.922,49.427c-4.879,6.466-13.133,15.334-23.873,24.955\
                        C270.48,87.35,281.169,96.278,291.829,105.975z')
                        path(d='M301.45,256.609c-3.816,12.928-8.63,33.625-14.199,57.588c-16.444,70.755-32.179,134.067-50.555,174.442\
                        c2.609,0.083,5.217,0.199,7.846,0.199c56.963,0,109.328-19.539,150.885-52.206c-1.641-69.461-18.293-167.71-60.238-240.643\
                        C318.921,208.08,310.165,227.101,301.45,256.609z')
              .footer__svg
                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 96.124 96.123', style='enable-background:new 0 0 96.124 96.123;', xml:space='preserve')
                  g
                    path(d='M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803\
                    c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654\
                    c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246\
                    c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z')
              .footer__svg
                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 604.35 604.35', style='enable-background:new 0 0 604.35 604.35;', xml:space='preserve')
                  g
                    g#google-plus
                      path(d='M516.375,255v-76.5h-51V255h-76.5v51h76.5v76.5h51V306h76.5v-51H516.375z M320.025,341.7l-28.051-20.4\
                      c-10.2-7.649-20.399-17.85-20.399-35.7s12.75-33.15,25.5-40.8c33.15-25.5,66.3-53.55,66.3-109.65c0-53.55-33.15-84.15-51-99.45\
                      h43.35l30.6-35.7h-158.1c-112.2,0-168.3,71.4-168.3,147.9c0,58.65,45.9,122.4,127.5,122.4h20.4c-2.55,7.65-10.2,20.4-10.2,33.15\
                      c0,25.5,10.2,35.7,22.95,51c-35.7,2.55-102,10.2-150.45,40.8c-45.9,28.05-58.65,66.3-58.65,94.35\
                      c0,58.65,53.55,114.75,168.3,114.75c137.7,0,204.001-76.5,204.001-150.449C383.775,400.35,355.725,372.3,320.025,341.7z\
                      M126.225,109.65c0-56.1,33.15-81.6,68.85-81.6c66.3,0,102,89.25,102,140.25c0,66.3-53.55,79.05-73.95,79.05\
                      C159.375,247.35,126.225,168.3,126.225,109.65z M218.024,568.65c-84.15,0-137.7-38.25-137.7-94.351c0-56.1,51-73.95,66.3-81.6\
                      c33.15-10.2,76.5-12.75,84.15-12.75s12.75,0,17.85,0c61.2,43.35,86.7,61.2,86.7,102C335.324,530.4,286.875,568.65,218.024,568.65z\
                      ')
              .footer__svg
                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 512.002 512.002', style='enable-background:new 0 0 512.002 512.002;', xml:space='preserve')
                  g
                    path(d='M512.002,97.211c-18.84,8.354-39.082,14.001-60.33,16.54c21.686-13,38.342-33.585,46.186-58.115\
                    c-20.299,12.039-42.777,20.78-66.705,25.49c-19.16-20.415-46.461-33.17-76.674-33.17c-58.011,0-105.042,47.029-105.042,105.039\
                    c0,8.233,0.929,16.25,2.72,23.939c-87.3-4.382-164.701-46.2-216.509-109.753c-9.042,15.514-14.223,33.558-14.223,52.809\
                    c0,36.444,18.544,68.596,46.73,87.433c-17.219-0.546-33.416-5.271-47.577-13.139c-0.01,0.438-0.01,0.878-0.01,1.321\
                    c0,50.894,36.209,93.348,84.261,103c-8.813,2.399-18.094,3.687-27.674,3.687c-6.769,0-13.349-0.66-19.764-1.888\
                    c13.368,41.73,52.16,72.104,98.126,72.949c-35.95,28.176-81.243,44.967-130.458,44.967c-8.479,0-16.84-0.496-25.058-1.471\
                    c46.486,29.807,101.701,47.197,161.021,47.197c193.211,0,298.868-160.062,298.868-298.872c0-4.554-0.104-9.084-0.305-13.59\
                    C480.111,136.775,497.92,118.275,512.002,97.211z')
script(type='text/javascript').
  var form = document.getElementById('newsletter__placeholder')
  form.reset ();